/* Estilos CSS */
.menu-button {
    display: none; /* Ocultar el botón por defecto */
}

@media only screen and (max-width: 768px) {
    /* Mostrar el botón y ocultar el menú en pantallas pequeñas */
    .menu {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .menu.is-expanded {
        transform: translateX(0);
    }

    .menu-button {
        display: block; /* Mostrar el botón en pantallas pequeñas */
    }
}
